.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.lista {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.item {
    display: inline-block;
    list-style: none;
}